<h1>Test</h1>
<div class="registration-form"><img src="https://www.chipotle.com/content/dam/poc/order/images/logos/medallion-reward.svg" alt="Modal" class="logo">
    <h1 class="title"> CREATE AN ACCOUNT </h1>
    <p class="account">Create an account so you can get rewards <br>and order your favorites even faster.</p>
    <div>
    <input type="text" placeholder="First Name" class="textbox">
    </div>
    <div>
    <input type="text" placeholder="last name" class="textbox">
    </div>
    <div>
      <input type="text" placeholder="Email" class="textbox">
    
    </div>
    <div>
      <input type="password" placeholder="Password" class="textbox"> 
     
    
    </div>
    <div>
      <input type="text" placeholder="Mobile Number" class="number" class="textbox">
    <p>for security and order related questions. </p>
    </div>
    <div class="texttype">Also receive Text offers and promotions?*</div>
    <div class="subclass">
      <input type="radio"  name="offers" value="yes"><label class="text-label">Yes</label>
      <input type="radio" name="offers"  value="no" class="no-radio"> <label Class="text-label">No</label>
    </div>
    
    <p class="text">Country</p>
    
      <input type="radio" name="Country" value="United States"> <label class="text-label">United States</label>
      <input type="radio" name="Country" value="Canada"> <label>Canada</label>
    
      <div>
        <input type="text" placeholder="BirthdayMM/DD">
        
      </div>
      <p>
        <input type="button"  value="CREATE AN ACCOUNT" class="button"> 
      </p>
      <div>
        ALREADY A MEMBER?
        <a href="/blog">SIGN IN</a>
      </div>
    <p>By creating this account, I am confirming I am 13 years of age or older, will<br>be automatically enrolled in Chipotle Rewards, will receive email updates, <br> promotions and offers from Chipotle, and agree to Chipotle's Privacy<br>Policy, Terms of Use and Chipotle Rewards Terms & Conditions.
    </p>
     <p> *By opting in to text, you agree to receive Chipotle updates and offers via text.<br>Recurring marketing messages will be sent to your account mobile<br>number using automated technology. Consent is not a condition of<br>purchase. Standard msg and data rates may apply. Text STOP to cancel.<br>Text HELP for help.</p>
     <p>* Please fill out the form below.Oldest to youngest childs Name,Birthdate(mm/dd/yyyy),and Age.</p>
     <table>
    <thead>
      <tr class=data>
        <th>Name</th>
        <th>Birthdate</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hiral</td>
        <td>09/16/1990</td>
        <td>31</td>
      </tr>
      <tr>
        <td>Hetal</td>
        <td>03/18/1992</td>
        <td>29</td>
      </tr>
      <tr>
        <td>Pinal</td>
        <td>09/19/1993</td>
        <td>28</td>
      </tr>
      <tr>
        <td>Mamta</td>
        <td>12/31/1996</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Krunal</td>
        <td>01/28/1999</td>
        <td>22</td>
      </tr>
    </tbody>
    </table>
    
    </div>
    